.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 24px 20px;
    border-bottom: 1px solid var(--color-dark-50);
    width: 100%;
  }
  
  .profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4px;
    overflow: hidden;
  }
  
  .name {
    color: rgb(19, 20, 19);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .email {
    color: rgb(19, 20, 19);
    font-size: 16px;
    line-height: 14px;
  }
  